@media (max-width: 1200px){
}

@media (max-width: 991px){
}

@media (max-width: 768px){
}

@media (max-width: 600px){
}

@media (max-width: 480px){
    header{
        text-align: center;
    }
    [class^="logo"]{
        margin-top: 10px;
        display: flex;
    }
}